<p>
  <%= @message %>
</p>
<%= image_tag @image.imageurl, style: 'max-height: 400px; max-width: 400px;' %>
<hr>
<p>
  To view the image on the site, simply follow this link: <%= link_to 'click here', @show_page_url %>.
</p>
<p>
  Thank you, and have a great day!
</p>
<p>
  - Team Guns'n'Ropes @ AppFolio, Inc.
</p>
