$footer-bg-color: #f5f5f5;
$footer-height: 40px;
$padding-height: 5px;

.album {
  padding-bottom: $footer-height + $padding-height;
}

.card {
  $card-dim: 20rem;
  $img-max-dim: 100%;

  border: 0;
  height: $card-dim;
  margin: 5px;
  padding: .5rem;
  width: $card-dim;

  img {
    max-height: $img-max-dim;
    max-width: $img-max-dim;
  }
}

.footer {
  background-color: $footer-bg-color;
  bottom: 0;
  font-size: small;
  height: $footer-height;
  line-height: $footer-height;
  position: fixed;
  width: 100%;
}

.navbar {
  margin-bottom: $padding-height;
}
