<div class="album">
  <div class="container-fluid">
    <div class="row align-items-center">
      <% @images.each do |image| %>
        <a href=<%= "#{images_path}/#{image.id}" %>>
          <div class="card">
            <%= image_tag image.imageurl, class: "card-img mx-auto my-auto" %>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
