<div class="container-fluid album">
  <div class="row justify-content-center">
    <% @images.each do |image| %>
      <div class="card">
        <%= link_to image_tag(image.imageurl, class: "card-img"), image_path(image) %>
      </div>
    <% end %>
  </div>
</div>
