<section class="container-fluid btn-toolbar justify-content-center">
  <div class="tags btn-group-sm" role="group" aria-label="Tags">
    <button type="button" class="btn btn-outline-primary">
      <%= link_to("All", images_path) %>
    </button>
    <% ActsAsTaggableOn::Tag.order(name: :asc).map(&:name).each do |tag_name| %>
      <button type="button" class="btn btn-outline-secondary">
        <%= link_to(tag_name, "?tag_name=#{tag_name}") %>
      </button>
    <% end %>
  </div>
</section>
<section class="container-fluid album">
  <div class="row justify-content-center">
    <% @images.each do |image| %>
      <div class="card">
        <%= link_to image_tag(image.imageurl, class: "card-img"), image_path(image) %>
      </div>
    <% end %>
  </div>
</section>
