<h1>Listing Image URLs</h1>

<%= link_to 'New image', new_image_path %>

<table>
  <tr>
    <th>Imagel URL</th>
  </tr>

  <% @images.each do |image| %>
      <tr>
        <td><%= image.imageurl %></td>
        <td><%= link_to 'Show', image_path(image) %></td>
      </tr>
  <% end %>
</table>
