<h1>Welcome!</h1>

<%= link_to 'New image', new_image_path %>

<table>
  <tr>
    <th>Images</th>
  </tr>

  <% @images.reverse_each do |image| %>
      <tr>
        <td><%= image_tag image.imageurl, style: 'max-width: 400px;' %></td>
      </tr>
  <% end %>
</table>
