<div class="container-fluid">
  <%= simple_form_for @image do |f| %>
    <%= f.input :imageurl, as: :url, label: "Image URL" %>
    <%= f.button :submit, "Save Image", class: "btn-primary" %>
  <% end %>
</div>

