<div class="container-fluid">
  <%= simple_form_for @image do |f| %>
    <%= f.input :imageurl, as: :url, label: "Image URL" %>
    <%= f.input :tag_list, as: :string, label: "Tags", input_html: { value: @image.tag_list.join(", ") } %>
    <%= f.button :submit, "Save Image", class: "btn-primary" %>
  <% end %>
</div>
