<div class="container-fluid">
  <% if @image.tag_list.present? %>
    Tags:
  <% end %>
  <%= render partial: "shared/image_tags_and_actions", locals: {image: @image} %>
  <br>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>
