<div class="container-fluid">
  <div class="border bg-light p-2">
    <%= render partial: "shared/image_tags_and_actions", locals: {image: @image} %>
  </div>
  <br>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>
