<div class="container-fluid">
  <% if @image.tag_list.present? %>
    <p><strong>Tags: </strong>
      <%= @image.tag_list %>
    </p>
  <% end %>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>
