<div class="container-fluid">
  <% if @image.tag_list.present? %>
    <p><strong>Tags: </strong>
      <div class="tags-list">
        <% @image.tag_list.each do |tag| %>
          <span class="badge badge-default"><%= tag %></span>
        <% end %>
      </div>
    </p>
  <% end %>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>
