<div class="container-fluid footer-padding js-show-page">
  <div class="border bg-light p-2">
    <%= render partial: "shared/image_tags_and_actions", locals: {image: @image} %>
  </div>
  <br>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>

<%= render partial: "shared/image_shares_modal", locals: {image: @image} %>
<% content_for :javascript do %>
  <%= javascript_include_tag 'shared/image_shares/index' %>
<% end %>
