<div class="container-fluid">
  <% if @image.tag_list.present? %>
    <p class="tags-list"><strong>Tags: </strong><%= @image.tag_list.join(", ") %></p>
  <% end %>
  <%= image_tag @image.imageurl, class: "img-fluid" %>
</div>
